// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #7F7FD5 !default;
//$header-bg-color-secondary: #155799 !default;
$header-bg-color-secondary: #86A8E7 !default;
$header-bg-color-third: #91EAE4 !default;
// Text
$section-headings-color: #131212 !default;
$body-text-color: #111010 !default;
$body-link-color: #d35309 !default;
$blockquote-text-color: #1d163b !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
